{% extends 'base.html' %}

{% load static %}

{% block title %}{{ tool.name }}{% endblock title %}

{% block content %}

<div class="container my-3">
    <div class="row">
        <div class="col-lg-3 mb-3 mb-lg-0">
            {% if tool.image %}
            <img class="container-fluid" src="/media/{{tool.image}}" alt="">
            {% else %}
            <img class="card-img-top" src="{% static 'images/no_image.jpg' %}" alt="">
            {% endif %}
        </div>
        <div class="col-lg-9">
            <h1 class="font-weight-bold">{{ tool.name }}</h1>
            <h2>R$ {{ tool.price }}</h2>
            <p>{{ tool.description }}</p>
            <p>
                Voltar para o catálogo de
                <a class="text-decoration-none" href="{{ tool.category.get_absolute_url }}">
                    {{ tool.category.name }}
                </a>
            </p>
        </div>
    </div>
</div>

{% endblock content %}