{% extends 'base.html' %}

{% load static %}
{% load tool_tags %}

{% block title %}
{% if category %}
{{ category.name }}
{% else %}
Ferramentas
{% endif %}
{% endblock title %}

{% block content %}

<div class="container my-3">
    <div class="row">
        <div class="col-lg-3">
            <ul class="list-group mb-3 mb-lg-0">
                <a class="text-decoration-none list-group-item list-group-item-light {% if not category %}active{% endif %}"
                    href="{% url 'tools:list' %}">
                    Todas as ferramentas
                </a>

                {% for cat in categories %}
                <a class="text-decoration-none list-group-item list-group-item-light {% if category == cat %}active{% endif %}"
                    href="{{ cat.get_absolute_url }}">
                    {{ cat.name }}
                </a>
                {% endfor %}
            </ul>
        </div>
        <div class="col-lg-9">
            <div class="card-deck mb-3">
                {% for tool in tool_list %}
                <div class="card">
                    <a href="{{ tool.get_absolute_url }}">
                        {% if tool.image %}
                        <img class="card-img-top" src="/media/{{tool.image}}" alt="">
                        {% else %}
                        <img class="card-img-top" src="{% static 'images/no_image.jpg' %}" alt="">
                        {% endif %}
                    </a>

                    <div class="card-body d-flex flex-column justify-content-between">
                        <a class="text-decoration-none text-dark" href="{{ tool.get_absolute_url }}">
                            <h5 class="card-title">{{ tool.name }}</h5>
                        </a>
                        <a class="text-decoration-none text-dark" href="{{ tool.get_absolute_url }}">
                            <p class="card-text font-weight-bold">R$ {{ tool.price }}</p>
                        </a>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:"3" and not forloop.last %}
            </div>
            <div class="card-deck mb-3">
                {% endif %}
                {% endfor %}

                {% if tool_list|length|remainder == 2 %}
                <div class="card border-0"></div>
                {% elif tool_list|length|remainder == 1 %}
                <div class="card border-0"></div>
                <div class="card border-0"></div>
                {% endif %}
            </div>

            {% if is_paginated %}
            {% include "pagination.html" with page=page_obj %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}